.position {
    position: relative;
}

.root {
    flex-grow: 1;
    color: white;
}

.title {
    margin-left: 1px;
    flex-grow: 1;
}

.user {
    height: 100%;
    width: 100%;
    padding: 0,2,0,2;
    text-align: right;
}

.userMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userMenuItem {
  display: flex;
  align-items: center;
  justify-items: spaceBetween;
}